$Slate: #6a5acd;
$lightPurple: #C69EE8;
$lightPink: #FCBAFF;
$Pink: #E89EB7;
$Melon: #FFB7AD;
$main-red: #ff0000;
$main-blue: #0000FF;
$main-green: #008000;

$grey-light-1: #f4f6f9;
$grey-light-2: #eaedf3;
$grey-dark-1: #c9ced2;
$grey-dark-2: #929ba3;
$grey-dark-3: #707b86;

$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 2rem;
