@import url( "https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");

@import "variables";
@import "reset";
@import "mixins";
@import "typography";

@import "./layout/grid";
@import "./layout/nav";
@import "./layout/header";
@import "./layout/content";
@import "./layout/footer";

@import "./components/card";
@import "./components/icon";

@import "./pages/dash";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: $Slate;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }
}

body {
  background: $grey-light-1;
}
